.settings-piece-types {
	.accordion-button {
		--bs-accordion-btn-padding-y: 0.5rem;
		--bs-accordion-btn-padding-x: 1rem;
	}
	.colour-preview {
		width: 30px;
		height: 30px;
		border-radius: 3px;
	}
}
