@import '~bootstrap/scss/bootstrap';

@import 'react-datepicker/dist/react-datepicker.css';

html,
body {
	height: 100%;
}

#root {
	// display: flex;
	height: 100%;
}

.toast-header .btn-close {
	margin-left: auto;
}

.copy-item .copy-icon-button {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s ease-in-out;
	z-index: 10;
}

.copy-item:hover .copy-icon-button {
	opacity: 1;
	pointer-events: auto;
}
