@import '~bootstrap/scss/bootstrap';

@import 'react-datepicker/dist/react-datepicker.css';

html,
body {
	height: 100%;
}

#root {
	// display: flex;
	height: 100%;
}

.toast-header .btn-close {
	margin-left: auto;
}

.copy-item .copy-icon-button {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s ease-in-out;
	z-index: 10;
}

.copy-item:hover .copy-icon-button {
	opacity: 1;
	pointer-events: auto;
}
.split-button-divider .dropdown-toggle {
	border-left: 1px solid var(--bs-dark);
}
.icon-lg {
	font-size: 1.5em;
}
.icon-md {
	font-size: 1.25em;
}
.bttn-icon {
	position: absolute;
}

.sync-plus-wrapper {
	opacity: 0;
	transition: opacity 0.2s;
}

.copy-item:hover .sync-plus-wrapper,
.sync-icon-hover {
	opacity: 1;
}
.sync-icon-default {
	display: inline;
}
.copy-item:hover .sync-icon-default {
	display: none;
}
.copy-item:hover .sync-icon-hover {
	display: inline;
}
.sync-icon-hover {
	display: none;
}

.rundown-import-action {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s ease;
}

.rundown-header:hover .rundown-import-action {
	opacity: 1;
	pointer-events: auto;
}
